li {
	text-decoration: none;
	padding: 5px 0;
}


.tooltip {
	background: var(--seasalt-color) !important;
	border-radius: 10px !important;
	box-shadow: var(--box-shadow-3d) !important;
	/*font-size: medium !important;*/
	color: var(--text-color) !important;
	font-family: var(--font-family) !important;
	text-align: center;
	padding: 10px !important;
}

.arrow::before {
	background: var(--seasalt-color) !important;
	box-shadow: var(--box-shadow-3d) !important;
}