.sidebar .barItem {
	display: flex;
	height: 50px;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin: 15px;
}

.menu ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	margin: 0;
}

.menu ul li {
	list-style: none;
	flex-basis: 50px;
	border-radius: 30px;
	margin: 15px 0;
	padding: 0;
	background-color: rgb(var(--var-color), 0.2);
	box-shadow: var(--box-shadow-3d);
	-webkit-transition: background-color 1s ease-out;
	-moz-transition: background-color 1s ease-out;
	-o-transition: background-color 1s ease-out;
	transition: background-color 1s ease-out;
	color: var(--text-color);
	line-height: 50px;
	transition: all 0.5s ease-out;
	cursor: pointer;
}

.menu ul .sm {
	border-radius: 50%;
	width: 50px;

}


.menu ul .lg {
	width: -webkit-fill-available;
}

.menu ul li span {
	height: 50px;
	display: flex;
	align-items: center;
	gap: 8px;
	justify-content: space-evenly;
}

.menu li:hover {
	background-color: rgb(var(--var-color), 0.8);
	color: var(--seasalt-color);
}

select {
	font-size: medium !important;
}