.logo {
	/**color: var(--cyclamen-color);*/
	border-radius: 50%;
	box-shadow: 5px 5px 5px var(--argentinian-shadow);
	background-color: var(--naples-yellow-color);	
	font-size: xx-large;	
	font-family: 'Bonbon';
	font-weight: bold; 
	display: flex; /* Per centrare il contenuto */
	justify-content: center; /* Centra orizzontalmente */
	align-items: center; /* Centra verticalmente */
	width: 50px; /* Diametro del cerchio */
	aspect-ratio: 1;
	text-align: center; /* Centra il testo */
	cursor: pointer;
}


@font-face {
	font-family: 'Bonbon';
	src: url('../../assets/fonts/Bonbon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
