:root {
	--cyclamen-color: #FF6392;
	--cyclamen-shadow: #FF477E;
	--naples-yellow-color: #FFE45E;
	--naples-yellow-shadow: #F5CC00;
	--seasalt-color: #F9F9F9;
	--skyblue-color: #7FC8F8;
	--argentinian-color: #5AA9E6;	
	--argentinian-shadow: #1B70B1;
	--text-color: #060237;
	--border-color: #E0E0E0;
	--font-family: 'Parkinsans';
	--box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
}

body {
	font-family: var(--font-family);
	background-color: var(--seasalt-color);
	color:var(--text-color);
	margin: 0;
}


@font-face {
	font-family: 'Parkinsans';
	src: url('./assets/fonts/Parkinsans/Parkinsans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}