@font-face {
	font-family: 'Parkinsans';
	src: url('./assets/fonts/Parkinsans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Bonbon';
	src: url('./assets/fonts/Bonbon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}