:root {
	--cyclamen-color: #FF6392;
	--cyclamen-shadow: #FF477E;
	--naples-yellow-color: #FFE45E;
	--naples-yellow-shadow: #F5CC00;
	--seasalt-color: #F9F9F9;
	--skyblue-color: #7FC8F8;
	--argentinian-color: #5AA9E6;
	--argentinian-shadow: #1B70B1;
	--border-color: #E0E0E0;
	--box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
	--box-shadow-3d: rgba(var(--var-color), 0.17) 0px -23px 25px 0px inset, rgba(var(--var-color), 0.15) 0px -36px 30px 0px inset, rgba(var(--var-color), 0.1) 0px -79px 40px 0px inset, rgba(var(--var-color), 0.06) 0px 2px 1px, rgba(var(--var-color), 0.09) 0px 4px 2px, rgba(var(--var-color), 0.09) 0px 8px 4px, rgba(var(--var-color), 0.09) 0px 16px 8px, rgba(var(--var-color), 0.09) 0px 32px 16px;
	--box-shadow-strong: rgb(38, 57, 77) 0px 20px 30px -10px;
	--box-shadow-block: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	--var-color: 110, 38, 38;
}

.left {
	width: 15%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.right {
	width: 85%;
}

.glass {
	backdrop-filter: saturate(200%) blur(1px);
	box-shadow: var(--box-shadow-3d);
	background-image: repeating-linear-gradient(45deg, transparent, #05101000 100px, #2b374c14 200px)
}


@font-face {
	font-family: 'Parkinsans';
	src: url('./assets/fonts/Parkinsans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Bonbon';
	src: url('./assets/fonts/Bonbon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}